#banner {
	background-color: #99ccff;
}

#about_us {
	background-color: #b3d9ff;
}

#our_services {
	background-color: #cce6ff;
}

#our_associates {
	background-color: #e6f2ff;
}

#our_commitment {
	background-color: #80bfff;
}

#contact_us{
	background-color: #4da6ff;
}

